body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.header {
  padding: 0;
}

.headerImage {
  width: 100%;
}

.table {
  width: 100%;
}

.sidebar {
  background-color: cadetblue;
  width: 200px;
}

.body {
  background-color: lemonchiffon;
  padding: 50px;
}

.rightSidebar {
  background-color: mediumpurple;
  width: 200px;
}

.footer {
  background-color: white;
  text-align: center;
  color: grey;
}
td {
  padding: 10px;
}

.bodyImage {
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  font-family: serif;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #636363;
}

sub {
  color: #325a40;
  font-weight: 600;
}

blockquote {
  color: indianred;
  line-height: 20px;
}

p {
  color: #636363;
  line-height: 30px;
}
